# dependencies
node_modules/
downloads/

# env files
.env

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS junk
.DS_Store
Thumbs.db

#Keys
gha_deploy_key.pub
gha_deploy_key